h3 a, h3{
  color: cornflowerblue;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: lighter;
}
h4{
  color: cornflowerblue;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;

}
button{
  background-color: cornflowerblue;
  color:white;
  border:none;
  padding:10px;
  border-radius:2px;
  font-size: 1em;
  font-weight: bold;
  width: 100px;
  height: 40px;
}
p{
  font-size: 0.9em;
  width: 20%;
  line-height: 1.6em;
}
h2{
  font-weight: lighter;
}
