
a, h3{
  color: cornflowerblue;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: lighter;
}
a:hover{
  background-color: cornflowerblue;
  color:white;
  padding:8px;
  border-radius:2px;
}

button{
  background-color: cornflowerblue;
  color:white;
  border:none;
  padding:10px;
  border-radius:2px;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 30px;
}
button:hover{
  background-color: gainsboro;
  color: cornflowerblue;
}
p{
  font-size: 0.9em;
  width: 20%;
  line-height: 1.6em;
}
.cart-item{
  margin-top: 7px;
  margin-left: 10px;
}
form{
  margin-top: 20px;
}
input{
  padding:10px;
  border-radius:2px;
  font-size: 1em;
  margin-top:0px;
  margin-bottom: 10px;
  border: solid 1px gray;
  width: 30%;
}
label{
  display: block;
  height: 0.6em;
  margin-top: 4px;
  margin-bottom: 0px;
}
@media screen and (max-width: 800px) {
  input {
    width: 55%;
  }
}
@media screen and (max-width: 600px){
  input {
    width: 95%;
  }

}
