<h2>Products</h2>
<!-- *ngFor om de lijst van producten of te spelen in een for-lus -->
<div *ngFor="let product of products">
<h3>
  <!-- die vierkante haakjes zijn de property-binding syntax voor de link naar de product details voor elk product. property binding [] lets you use the property value in a template expression -->
  <a [title]="product.name + ' details'">
     {{ product.name }} <!-- met de dubbele gekrolde haakjes haal je specifiek de product.name er uit, dit heet interpolation syntax -->
  </a>
</h3>
  <p *ngIf="product.description"><!-- voorwaarde: indien die data aanwezig? toon dan:-->
      Description: {{ product.description }}
  </p>
  <button (click)="share()"><!-- the share() method is in product-list.component.ts. Event binding uses a set of parentheses, around the event, as in following <button> element-->
    Share
  </button>
</div>
