h3 a{
  color: cornflowerblue;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: lighter;
}
button{
  background-color: cornflowerblue;
  width: 100px;
  height: 40px;
  color:white;
  border:none;
  padding:5px;
  border-radius:2px;
  font-size: 0.7em;
  font-weight: bold;
}
button:hover{
  background-color: aliceblue;
  color: cornflowerblue;
}
p{
  font-size: 0.8em;
  width: 60%;
  line-height: 1.6em;
}
h2{
  font-weight: lighter;
}
div{
  position: relative;
  float: left;
}
