button{
  background-color:white;
  color:gray;
  border:1px solid gray;
  padding:7px;
  font-weight: bold;
  border-radius: 2px;
}
button:hover{
  box-shadow: 2px 2px 2px #bbb;
  color:#333;
  background-color: #ccc;
  border:none;
}

