button{
  background-color: #aaa;
  color:white;
  border:none;
  padding:7px;
  font-weight: bold;
  text-shadow: 1px 1px #666;
  border-radius: 1px;
}
button:hover{
  box-shadow: 2px 2px 2px #ccc;
  color: #666666;
  text-shadow: 1px 1px #333;
}

